/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
/* Colors */

:root {
  --t: #EEE;
  --b1: #111;
}
@media (prefers-color-scheme: light) {
  :root {
    --t: black;
    --b1: white;
  }
}

/* Defaults */
* {
  color: var(--t);
  background-color: var(--b1);
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  padding: 2em 0em;
  margin: 0em;
  overflow: auto;
}

/* Utilities */