/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bootstrap */
/* Defaults */
* {
  color: white;
  background-color: #333333;
}

body {
  padding: 2em 0em;
  margin: 0em;
  overflow: auto;
}

/* Utilities */